{
  "parser": "babel-eslint",

  "extends": ["airbnb"],

  "plugins": [
    "flow-vars"
  ],

  "rules": {
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "react/jsx-filename-extension": 0,
  }
}
